/*
Theme Name: iBid Child
Theme URI: https://ibid.modeltheme.com/
Template: ibid
Author: ModelTheme
Author URI: http://modeltheme.com/
Description: Multi Vendor Auctions WooCommerce Theme
Version: 1.0
Text Domain: ibid
Tags: custom-header, custom-menu, featured-images, post-formats, sticky-post
*/
/* Theme customization starts here
------------------------------------------------------- */


#signup-modal-content form .show-password-input {
    top: 1.7em;
}

.site_logo{
padding: 10px 0px;

}
.menu-search select#product_cat {
    width: 15%;
}
#rev_slider_4_1_forcefullwidth{
  background-color: #FF8C00;  
}
rs-slide.active-rs-slide{
    padding: 0px!important;
}
.top-header li.nav-menu-account, .my-account-navbar a {
    color: #FF8C00 !important;
    font-size: 14px;
    font-weight: bold;
    padding: 15px !important;
    display: block;
}

nav .navbar-nav > li:first-child > a{
    border-right: 1px solid #fff;
    
}
nav .navbar-nav > li:last-child > a{
    border-left: 1px solid #fff;
  
}
nav .navbar-nav > li > a, .menu .item a {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 120px !important;
        padding-top: 10px;
        padding-right: 17px;
        padding-bottom: 10px;
        padding-left: 17px;
}

.bot_nav_cat .bot_cat_button {
    font-size: 14px;
    height: 0px !important;
    background: #fff;
    outline: none;
    box-shadow: none;
    /* padding: 0px !important; */
    font-size: 14px;
    font-weight: 500;
   
    padding: 15px 0px !important;
    
}
.cat_ico_block{
   color: #FF8C00 !important; 
}
.bot_nav_cat_inner {
 
    margin: 0px;
}
.top-header {
background-color: #f1f1f1 !important;
padding-bottom: 0px  !important;
padding-top: 0px  !important;
}
nav{
    background-color: #FF8C00!important;
}
.top-header.category-menu{
    background-color: #fff !important;
}
.top-header.category-menu .woocommerce a.button{
    background-color: #fff;
    color: #FF8C00!important;;
    border:1px solid #FF8C00!important;;
}
.top-header.category-menu .woocommerce a.button:hover{
    background-color: #FF8C00;
    color: #FFF!important;
    border:1px solid #FF8C00!important;
}
a.shop_cart::after{
    color: #FF8C00!important;
}
.top-header.category-menu a{
    color: #FF8C00!important;

}
.wpcf7-form .wpcf7-submit{
    background-color: #FF8C00!important;
}
.overlay-components .component.add-to-cart a{
    background-color: #FF8C00!important;
}
.bottom-components .component.add-to-cart a{
    background-color: #FF8C00!important;
}
.yith-wcwl-add-to-wishlist.exists .yith-wcwl-wishlistaddedbrowse.hide a, .bottom-components .component a:hover, .bottom-components .component a:hover, .bottom-components .component a:hover, .woocommerce-page .overlay-components .component a:hover, .woocommerce-page .vc_col-md-3 .overlay-components .component a:hover, .columns-4 .overlay-components .component a:hover, .vc_col-md-4 .overlay-components .component a:hover, .no-sidebar .vc_col-md-3 .overlay-components .component a:hover, .woocommerce div.product .woocommerce-tabs ul.tabs li, .overlay-components .component.add-to-cart a, .bottom-components .component.add-to-cart a, .woocommerce_categories2 .products .component .yith-wcwl-wishlistexistsbrowse.show a, body .tp-bullets.preview1 .bullet, div#dokan-content .overlay-components .component a:hover, body #mega_main_menu li.default_dropdown .mega_dropdown > li > .item_link:hover, body #mega_main_menu li.widgets_dropdown .mega_dropdown > li > .item_link:hover, body #mega_main_menu li.multicolumn_dropdown .mega_dropdown > li > .item_link:hover, body .dokan-settings-content .dokan-settings-area a.dokan-btn-info, .dokan-btn-info, body #mega_main_menu li.grid_dropdown .mega_dropdown > li > .item_link:hover, .custom_ibid button, .woocommerce_categories.grid th {
    background-color: #FF8C00!important;

  }
  .top-footer.row{
    background-color: #FF8C00!important;
  }
  /* .top-header .row{
      padding-bottom: 0px;
      padding-top: 0px;
      background-color: #FF8C00;
  } */
  div.overlay-components .component.add-to-cart a, div.bottom-components .component.add-to-cart a{
    background-color: #FF8C00!important;
    /* background-color: rgba(255, 140, 0, 0.774)!important; */
/* #2695ff */
  }
  #dropdown-user-profile.open ul {
    /* top: 125%; */
    /* visibility: visible; */
    /* opacity: 1; */
    z-index: 10;
    background: #FFF;
    opacity: 1;
    padding: 25px;
    position: absolute;
    top: 100%;
    border-radius: 5px;
    visibility: visible;
    transition: all 400ms ease 0s;
    -o-transition: all 400ms ease 0s;
    -moz-transition: all 400ms ease 0s;
    -webkit-transition: all 400ms ease 0s;
    -ms-transition: all 400ms ease 0s;
    box-shadow: 0px 5px 15px 4px rgba(0, 0, 0, 0.06);
}
.bot_nav_wrap{
    padding-left: 130px;
    padding-right: 130px;
}
.account-urls {

    padding-top: 5px;
    padding-bottom: 5px;
    text-align: right;

}
.col-md-7.col-sm-12.contact-header {

    padding-top: 5px;
    padding-bottom: 5px;

}
.form-errors{
    color: red;
    align-content: center;   
    text-align: center;
}
.form-input-errors{
    border: red!important;
    background-color: red;
}
#signup-modal-content .woocommerce-form-register.register input[type="text"], #signup-modal-content .woocommerce-form-register.register input[type="email"], #signup-modal-content .woocommerce-form-register.register input[type="tel"], #signup-modal-content .woocommerce-form-register.register input[type="password"], #signup-modal-content .woocommerce-form-register.register textarea {
    border: 1px solid rgba(0, 0, 0, 0.1)!important;
}
#about-image{
    background:url('images/Hero Slider  – 1.jpg') rgba(255, 140, 0, 0.774);
    background-size:cover;
    background-blend-mode: multiply;
    
}
#about-image p,#about-image h3{
    color: white !important;
}
#about-image p{
font-size: 14px;
line-height: 20px;
font-weight: 400;
padding: 0 30px;
}
#about-image h3{
font-size: 22px;
line-height: 26px;
font-weight: 400;
}
.stats-content p {
    font-size: 14px;
    text-transform: none;
}
#maajik-today .section-title {

    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.2;
    margin-bottom: 0;

}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    padding: 15px !important;
}
footer aside.widget {
    margin-bottom: 0px;
}
.products_by_categories .details-container {
    float: none !important;
}

.owl-carousel div.owl-item {
    /* flex: 1; */
    /* width: 200px!important; */
    display: table-cell;
    float: none!important;

}

.owl-carousel div.owl-wrapper {
    display: table;
    width: 100%;     
}
.woocommerce-title-metas {

    height: 120px !important;

}
/* a[data-hasqtip="46"],a[data-hasqtip="47"],span[data-hasqtip="43"]{
    display: none!important;
} */

#vendor-subscription .button{
    display: table;
    margin: 0 auto;
}
.make-payment{
    margin-top: 50px!important;
}
.menu-search select.form-control1 {

padding-left: 5px;

}
.menu-search select.form-control1:focus {
    border: none;  
}
#wait{
    width:100px;
    height:89px;
    position:absolute;
    top:50%;
    left:50%;
    padding:2px;
    display:none;
}
div#navbar ul.menu > .menu-item > a::before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 35%;
    position: absolute;
    /* bottom: 2px !important; */
    top: 25px!important;
    width: 30%;
    opacity: 0;
    transform: scale(0);
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
}

/* @media only screen and (max-width: 767px){
body #navbar .menu > .menu-item:first-child > a {
    padding-left:10px !important;
}
} */